.fa-heart{
    bottom: 1em;
    color: black;
    cursor: pointer;
    font-size: 25px;
    /* position: absolute; */
    right: 1em;
    transition: all .2s ease-in-out;
}

 .fa-heart:hover {
        background: linear-gradient(pink, purple);
        color: white;
        font-weight: 600;
        transform: scale(1.2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }