@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,500&family=Shrikhand&display=swap');

.tracking-in-contract {
    font-size: 100px;
    font-weight: bold;
    font-family: "shrikhand";
    color: blue;
	animation: tracking-in-contract 5s  linear infinite;
}

@keyframes tracking-in-contract {
    0% {
    color: green;
      letter-spacing: 1em;
      opacity: 0.5;
    }
   
    50% {
        color: pink;
        letter-spacing: normal;
      opacity: 1;
    }
   
    100% {
        color: purple;
        letter-spacing: 1em;
        opacity: 0.5;
    }
  }