.loader{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: hsla(0, 0%, 93%, 0.849);
    animation: loader 0.5s;
    animation-delay: 3s;
    animation-fill-mode: both;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;

}
.word{
        margin: auto;
        font-size: 1.5em;
        font-weight: bold;
        font-family: "shrikhand";
        animation: moove 2s linear infinite;

        @media (min-width: 425px) {
            font-size: 2em;
        }

        @media (min-width: 768px) {
            font-size: 3em;
        }

        @media (min-width: 1024px) {
            font-size: 4em;
        }
    }


    @keyframes loader {
        100% {
            opacity: 0;
            z-index: -10;
        }
      } 

    @keyframes moove {
        0% {
        color: $purple;
          letter-spacing: 1em;
          opacity: 1;
        }
       
        50% {
            color: $pink;
            letter-spacing: normal;
          opacity: 1;
        }
       
        100% {
            color: $purple;
            letter-spacing: 1em;
            opacity: 1;
        }
      }