.header{
    display: block;
    i{
        position: absolute;
        top: 25px;
        font-size: 1.5em;
    }
}

.pages_img{
    height: 270px;
}
.intro{
    position: relative;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    border-radius: 2rem 2rem 0 0;
    margin-top: -50px;
        .title{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .title__menu{
                font-family: "shrikhand";
            }
            .title__button{
                border: none;
                background-color: white;
                font-size:1.5em;
            }
        }
        .allmenu{

            display: flex;
            flex-direction: column;
            .item-list{
                display: flex;
                flex-direction: column;
                .item-list_title{
                    h3{
                    font-weight: lighter;
                    }
                    .trait{
                        height: 5px;
                        width: 40px;
                        margin-top: -10px;
                        background-color: $green;
                    }
                }

            .item{
                box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.15);
                margin-top: 15px;
                display: flex;
                padding: 10px;
                max-width: 100%;
                border: 0px solid;
                border-radius: 20px;
                background-color: white;
                .item__textleft{
                  flex: 1;
                    h4{
                        margin: 0;
                    }
                    p{
                        margin: 0;
                        margin-top: 5px;
                    }

                    

                }
                .item__price{
                    display: flex;
                    font-weight: bold;
                    justify-content: flex-end;
                    align-items: flex-end;
                    margin-right: 20px;
                    
                }
                .item__confirm{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: -10px -10px -10px -10px;
                    border-radius: 0 20px 20px 0;
                    width: 60px;
                    background-color: $green;

                    i{
                        font-size: 25px;
                        
                        color: white;
                    }
                }
            }

            }
        }
}
.commander{
    margin: 50px auto;
    display: block;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 20px 60px;
    background: linear-gradient(to bottom, $pink 0%, $purple 100%);
    border: 5px none;
    border-radius: 40px 40px 40px 40px;
}